---
layout: layout.njk
title: "EH enjoys the snow!"
description: "Edgertonians enjoyed the snow from the end of January blizzard before the start of the spring semester!"
mainClass: "main-standard"
permalink: "/news/2022-03-07-eh-enjoys-the-snow/"
---
<section class="page-intro">
  <p class="eyebrow">Community Archive</p>
  <h1>EH enjoys the snow!</h1>
  <p>Edgertonians enjoyed the snow from the end of January blizzard before the start of the spring semester!</p>
</section>

  <article class="content-panel content post-detail">
    <p class="post-date">March 7, 2022</p>
    <div>
			<p>Edgertonians enjoyed the snow from the end of January blizzard before the start of the spring semester!</p>
<p><img loading="lazy" src="/assets/uploads/2022/03/PXL_20220129_194253173.jpg" alt=""> <img loading="lazy" src="/assets/uploads/2022/03/PXL_20220129_190921034.jpg" alt=""> <img loading="lazy" src="/assets/uploads/2022/03/PXL_20220129_193048720.jpg" alt=""></p>
		</div><!-- .entry-content -->
  </article>
