---
layout: layout.njk
title: "Mailing Lists"
description: "Official and resident mailing lists for Edgerton."
mainClass: "main-standard"
permalink: "/resources/mailing-lists/"
---
<section class="page-intro">
  <p class="eyebrow">Resources</p>
  <h1>Mailing Lists</h1>
  <p>Official and resident mailing lists for Edgerton.</p>
</section>
<section class="content-panel content"><div>
<div>We have two official house mailing lists, eh-announce and eh-events, and one resident mailing list, eh-open. The house officers, masters, and manager use the eh-announce list to pass along important community bulletins and the eh-events list to communicate house and campus events. The eh-open list is used by Edgerton residents to discuss community-related issues.</div>
<div>
<p>We try to keep the mailing list memberships current, but if you find yourself accidentally omitted from any of these lists, please visit the respective mailing list page and alter your subscription settings:</p>
<ul>
<li><a href="http://mailman.mit.edu/mailman/listinfo/eh-announce/">eh-announce</a></li>
<li><a href="http://mailman.mit.edu/mailman/listinfo/eh-events/">eh-events</a></li>
<li><a href="http://mailman.mit.edu/mailman/listinfo/eh-open/">eh-open</a></li>
</ul>
<p>To organize and join pick up games of any kind, sign up for <a href="http://mailman.mit.edu/mailman/listinfo/eh-sports/">eh-sports</a>.</p>
</div>
</div></section>
