---
layout: layout.njk
title: "Kayaking Outing"
description: "8.17.21 - Edgerton went on a Charles River kayaking trip! We all got a bit wetter than expected (mmm - tasty river water) - but are still smiling under..."
mainClass: "main-standard"
permalink: "/news/2021-08-18-kayaking-outing/"
---
<section class="page-intro">
  <p class="eyebrow">Community Archive</p>
  <h1>Kayaking Outing</h1>
  <p>8.17.21 - Edgerton went on a Charles River kayaking trip! We all got a bit wetter than expected (mmm - tasty river water) - but are still smiling under...</p>
</section>

  <article class="content-panel content post-detail">
    <p class="post-date">August 18, 2021</p>
    <div>
			<p>8.17.21 - Edgerton went on a Charles River kayaking trip!  We all got a bit wetter than expected (mmm - tasty river water) - but are still smiling under the damp masks! 🙂 Shout out to Arash and Yunsie for the wonderful photos!</p>
<p><img loading="lazy" src="/assets/uploads/2021/08/20210817_190501.jpg" alt=""><img loading="lazy" src="/assets/uploads/2021/08/20210817_190056.jpg" alt=""><img loading="lazy" src="/assets/uploads/2021/08/20210817_182157.jpg" alt=""><img loading="lazy" src="/assets/uploads/2021/08/20210817_180940.jpg" alt=""><img loading="lazy" src="/assets/uploads/2021/08/22A3A552-7704-4974-90C2-34502C7FB78A.jpg" alt=""></p>
		</div><!-- .entry-content -->
  </article>
