---
layout: layout.njk
title: "Location"
description: "Find Edgerton House, nearby transit, and the fastest ways to get to campus."
mainClass: "main-standard"
permalink: "/about/location/"
---
<section class="page-intro">
  <p class="eyebrow">About Edgerton</p>
  <h1>Location</h1>
  <p>Find Edgerton House, nearby transit, and the fastest ways to get to campus.</p>
</section>
<section class="content-panel content"><p>Edgerton is the on-campus graduate residence closest to the entrance of 77 Massachusetts Avenue (Lobby 7). Located on Albany Street, the walk to campus is only about 3 blocks.<br>
<strong><br>
Edgerton House<br>
143 Albany Street<br>
Cambridge, MA 02139</strong></p>
<p align="center"><iframe src="http://maps.google.com/maps?hl=en&amp;q=143+Albany+St,+Cambridge,+MA+02139,+USA&amp;ie=UTF8&amp;t=h&amp;s=AARTsJpbYWlo30n3ZDqr2wovb1vBHe3_Cg&amp;ll=42.360748,-71.094933&amp;spn=0.007611,0.013733&amp;z=16&amp;output=embed" marginwidth="0" marginheight="0"></iframe><br>
<small><a href="http://maps.google.com/maps?hl=en&amp;q=143+Albany+St,+Cambridge,+MA+02139,+USA&amp;ie=UTF8&amp;t=h&amp;ll=42.360748,-71.094933&amp;spn=0.007611,0.013733&amp;z=16&amp;source=embed">View Larger Map</a></small></p>
<h3>Access to Public Transportation</h3>
<p><strong>Northwest Shuttle, MIT operated</strong><br>
<a href="http://web.mit.edu/facilities/transportation/shuttles/tech_shuttle.html">Schedule Information </a><br>
The Northwest Shuttle picks up and drops off across the street from Edgerton House. It has stops along Vassar St, at the Kendall T station, at the Tang Center (Sloan), etc.</p>
<p><strong>1 Bus, MBTA</strong><a href="http://www.mbta.com/schedules_and_maps/bus/routes/?route=1"><br>
Schedule Information</a><br>
The inbound 1 Bus picks up in front of the parking lot located on the corner of Albany St and Mass Ave. It makes stops at Hynes Convention Center, Symphony Hall, etc. The outbound 1 Bus picks up across the street on Mass Ave and heads down in the direction of Central and Harvard Square.</p>
<p><strong>Central Square and Kendall Square T Stations (Red Line), MBTA<br>
</strong><a href="http://www.mbta.com/schedules_and_maps/subway/lines/stations/?stopId=10919">Central Square</a>, <a href="http://www.mbta.com/schedules_and_maps/subway/lines/stations/?stopId=12412">Kendall Square</a> <strong><br>
</strong>The Central Square T station is a few blocks north, on the intersection of Massachusetts Ave and Western Ave. It is about a 5 to 10 minute walking distance. The Kendall Square T station is located on the intersection of Main St, Broadway, and Third St. It is approximately a 15 minute walking distance.</p></section>
